<div class="login-wrapper">
    <div class="card">
        <div class="card-body">
            <div class="">
                <img src="assets/images/Globe.png" alt="logo_image"><br>
                <div style="font-style: italic; font-weight: bold;">Electricity Analytics</div>
            </div>
            
            <form [formGroup]="loginForm" (ngSubmit)="onSubmitForm()" autocomplete="off">
                <h4>PowerAnser Labs</h4>
                <div class="form-group">
                     <label for="userName">Username</label>&nbsp;&nbsp;
                     <input name="userName" type="text" formControlName="userName" id="userName">
                     <div class="alert" *ngIf="(userName.touched || userName.dirty) &&
                     userName.invalid && userName.errors.required" style="color: red;">
                     Username is required!!</div>
                </div>
                <div class="form-group">
                     <label for="password">Password</label>&nbsp;&nbsp;&nbsp; 
                     <input name="password" type="password" formControlName="password" id="password">
                     <div class="alert" *ngIf="(password.touched || password.dirty) &&
                     password.invalid && password.errors.required" style="color: red;">
                     Password is required!!</div>
                </div> 
               <button type="button" class="btn btn-primary mr-1" (click)=cancelAll()
                       >Cancel</button> &nbsp;
               <button type="submit" class="btn btn-primary mr-1" 
                       [disabled]="loginForm.invalid">OK</button>  <br><br>
               <div *ngIf="loginForm.invalid" style="color: green; 
                    font-weight: bold;">Enter your credentials to login
               </div>  
               <div class="alert alert-danger" role="alert" *ngIf="credentialsInvalid">
                    Invalid User or Password
               </div>                
            </form>
        </div>
    </div>
</div>
