<nav class="navbar navbar-expand-md navbar-dark bg-dark" *ngIf="authService.isAuthenticated">
    <a class="navbar-brand" routerLink="/home">Login App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
        aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item pointer">
                <a class="nav-link" (click)="signOut()">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>